[Desktop Entry]
Name=Translator
Comment=Translates into any lanugage. For list of language codes visit https://en.wikipedia.org/wiki/List_of_ISO_639-2_codes
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=applications-education-language
X-KDE-Library=krunner_translator
X-KDE-PluginInfo-Author=David Baum
X-KDE-PluginInfo-Email=david.baum@naraesk.eu
X-KDE-PluginInfo-Name=Translator
X-KDE-PluginInfo-Version= 1.1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
